<head>
</head>

<body>
</body>

<template name="add">
  <h3>Add New Log</h3>
  <ul>
    
  </ul>
  {{> addLog}}
</template>

<template name="addLog">
  <h2>Add New Log</h2>
  <div id="error">{{errorDisplay}}</div>
  <form id="add-log-form">
    <label for="logName">Log Name:</label>
    <input type="text" name="logName" id="logName">
    <br>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" value="0000-00-00" max='{{maxValue}}'>
    <br>
    <label for="locations">Location:</label>
    <select id="locations" name="locations">
      {{#with displayLocation}}
        {{#if this.count}}
          {{#each displayLocation}}
           <option id="locValue" value={{this.location_area}}>{{this.location_area}}</option>
          {{/each}}
          <option id="locValue" value="n/a">N/A</option>
        {{else}}
          <option id="locValue" value="n/a">N/A</option>
        {{/if}}
      {{/with}}
    </select>
    <br>
    <input type="submit" id="submit" value="Create Log">
  </form>
</template>

<template name="addNewEntry">
  <h2>Log Entry: {{nameDisplay}} || {{dateDisplay}}</h2>
  <h2>Location: {{locationDisplay}}</h2>
  <h3>Added Entries</h3>
</template>
