<template name="location">
    <h3>New Location</h3>
    <div id="error">{{errorDisplay}}</div>
    <form id="imageSearch">
        <p>Use an image to have exact coordinates of your site.</p>
        <label for="locationImg">Upload Image:</label>
        <input type="file" class="btn" name="locationImg" id="locationImg" accept='image/png,image/jpeg'>
        <br>
        <input type="submit" class="btn" id="submit" value="Find Location">
    </form>

    <form id="locationLogForm">
        <label for="latitudeNum">Lat:</label>
        <input type="text" name="latitudeNum" id="latitudeNum">
        {{#if latErrorDisplay}}
        <div id="errorLat">{{latErrorDisplay}}</div>
        {{/if}}
        <br>
        <label for="longitudeNum">Long:</label>
        <input type="text" name="longitudeNum" id="longitudeNum">
        {{#if lonErrorDisplay}}
        <div id="errorLon">{{lonErrorDisplay}}</div>
        {{/if}}
        <br>
        <input type="submit" class="btn" id="submit" value="Add Location">
    </form>
    <h3>Added Entries</h3>
    <div id="status">{{statusDisplay}}</div>
    <ul>
        {{#each locDisplay}}
        <li>
            <div id="name">{{ this.areaName}}</div>
            <br>
            <div id="loc">{{this.locName}}</div>
            <br>
            <div id="country">{{this.countryName}}</div>
            <br>
            <button class="btn edit">Edit</button>
            <br>
            <button class="btn remove">Remove</button>
        </li>
        {{/each}}
    </ul>
    <button class="btn add">Add</button>
    <button class="btn clear">Clear</button>
    <button class="btn locations">Return to Locations</button>
</template>

<template name="editModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Location</h4>
                </div>
                <div class="modal-body">
                    <label for="locName">Area Name:</label>
                    <input type="text" name="locName" id="locName">
                    {{#if editErrorDisplay}}
                    <div id="areaError">{{editErrorDisplay}}</div>
                    {{/if}}
                    <br>
                    <label for="areaName">Province/State/Region:</label>
                    <input type="text" name="areaName" id="areaName">
                    <br>
                    <label for="countryName">Country:</label>
                    <input type="text" name="countryName" id="countryName">
                </div>
                <div class="modal-footer">
                    <button class="btn add">Save</button>
                    <button class="btn reset" data-dismiss="modal">Reset Fields</button>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="areaModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Area Name</h4>
                </div>
                <div class="modal-body">
                    <label for="areaName">Area Name:</label>
                    <input type="text" name="areaName" id="areaName">
                    <div id="error">{{areaErrorDisplay}}</div>
                </div>
                <div class="modal-footer">
                    <button class="btn save">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>