<template name="locationList">
    <h3>Locations</h3>
    <button class="btn addLocation">Add New Locations</button>
    <button class="btn clearAll">Clear Locations</button>
    <div id="error">{{statusDisplay}}</div>
    <ul>
        {{#each displayLocation}}
        <li>
            <label for="lastVisit">Last Visit</label>
            <br>
            <div id="date">{{this.date_visited}}</div>
            <br>
            <label for="lastEdit">Last Edit</label>
            <br>
            <div id="editedDate">{{this.date_edited}}</div>
            <br>
            <label for="area">Area</label>
            <br>
            <div id="name">{{this.location_area}}</div>
            <br>
            <label for="region">Region</label>
            <br>
            <div id="loc">{{this.location_region}}</div>
            <br>
            <label for="country">Country</label>
            <br>
            <div id="country">{{this.location_country}}</div>
            <br>
            <button class="btn edit">Edit</button>
            <br>
            <button class="btn remove">Remove</button>
        </li>
        {{/each}}
    </ul>
</template>

<template name="warningModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Warning</h4>
                </div>
                <div class="modal-body">
                    Are you sure you would like to delete this location?
                </div>
                <div class="modal-footer">
                    <button class="btn delete" data-dismiss="modal">Yes</button>
                    <button class="btn btn-default" data-dismiss="modal">No</button>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="deleteAllModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Warning</h4>
                </div>
                <div class="modal-body">
                    Are you sure you would like to delete all locations?
                </div>
                <div class="modal-footer">
                    <button class="btn deleteAll" data-dismiss="modal">Yes</button>
                    <button class="btn btn-default" data-dismiss="modal">No</button>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="editLocModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Location</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <form id="editForm">
                            <label for="editDate">Date Found</label>
                            <br>
                            <input type="date" id="editDate" name="editDate" value="0000-00-00" max='{{maxDate}}'>
                            <br>
                            <label for="locName">Area Name</label>
                            <br>
                            <input type="text" name="locName" id="locName">
                            <br>
                            {{#if areaErrorDisplay}}
                                <div id="areaError">{{areaErrorDisplay}}</div>
                            {{/if}}
                            <label for="areaName">Province/State/Region</label>
                            <br>
                            <input type="text" name="areaName" id="areaName">
                            <br>
                            <label for="countryName">Country</label>
                            <br>
                            <input type="text" name="countryName" id="countryName">
                            <br>
                            <h5>Change GPS Location</h5>
                            <div id="searchError">{{searchError}}</div>
                            <label for="lat">Latitude</label>
                            <br>
                            <input type="text" name="lat" id="lat">
                            {{#if latErrorDisplay}}
                                <div id="errorLat">{{latErrorDisplay}}</div>
                            {{/if}}
                            <br>
                            <label for="long">Longitude</label>
                            <br>
                            <input type="text" name="long" id="long">
                            {{#if longErrorDisplay}}
                                <div id="errorLon">{{longErrorDisplay}}</div>
                            {{/if}}
                            <br>
                            <input type="submit" class="btn" id="submit" value="Find Location">
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn save">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>