<template name="species">
    <h3>New Species</h3>
    {{> kingdom}}
</template>

<template name="phylum">

</template>

<template name="kingdom">
    <h4>Select Kingdom</h4>
    <form id="kingdomForm">
        <label for="kingdom">kingdom:</label>
        <select id="kingdom" name="kingdom">
            {{#with kingdomNames}}
              {{#if this.count}}
                {{#each kingdomNames}}
                 <option id="kinValue" value={{this.kingdom}}>{{this.kingdom}}</option>
                {{/each}}
              {{else}}
                <option id="kinValue" value="n/a">N/A</option>
              {{/if}}
            {{/with}}
        </select>
        <br>
        <input type="submit" id="submit" value="Next">
    </form>
</template>