<template name="species">
    <h3>New Species</h3>
    {{> speciesEntry}}
</template>

<template name="speciesEntry">
    <form id="holderForm">
        <div id="holder">
            <h4>Select Domain</h4>
            <ul>
                {{#with domainNames}}
                    {{#if this.count}}
                        {{#each domainNames}}
                            <li>
                                {{this.domain}}
                            </li>
                        {{/each}}
                    {{else}}
                        <li>No domains.</li>
                    {{/if}}
                {{/with}}
            </ul>
        </div>
    </form>
    {{#if kingdomValue}}
        {{> phylumArea}}
        <div id="listTitle">
        </div>
        <ul>
            {{#each displayEntry}}
            <li>
                <p>Phylum Name</p>
                <br>
                <div id="name">{{this.phylum}}</div>
                <br>
                <p>Extinct</p>
                <br>
                <div id="extinct">{{this.extinct}}</div>
                <br>
                <p>Description</p>
                <br>
                <div id="description">{{this.description}}</div>
            </li>
            {{/each}}
        </ul>
    {{/if}}
    <div id="buttonsSubmit">
    </div>
</template>

<template name="phylumArea">
    <h4>Add new Phylum(s)</h4>
    <form id="phylumForm">
        <label for="phylum">Name</label>
        <br>
        <input type="text" name="newPhylum" id="newPhylum">
        <br>
        <label for="extinctOption">Extinct</label>
        <br>
        <select id="extinctOption" name="extinctOption">
            <option id="answer" value="yes">Yes</option>
            <option id="answer" value="no">No</option>
        </select> 
        <br>
        <label for="phylumDes">Description</label>
        <br>
        <textarea rows="5" cols="80" name="phylumDes" id="phylumDes"></textarea>
        <br>
        <input type="submit" class="btn" id="submit" value="Add">
    </form>
    <button class="btn back">Return to Kingdoms</button>
</template>