<template name="species">
    <h3>New Species</h3>
    {{> speciesEntry}}
</template>

<template name="speciesEntry">
    <form id="holderForm">
        <div id="holder">
            <h4>Select Domain</h4>
            <ul>
                {{#with domainNames}}
                {{#if this.count}}
                {{#each domainNames}}
                <li>
                    {{this.domain}}
                </li>
                {{/each}}
                {{else}}
                    <li>No domains.</li>
                {{/if}}
                {{/with}}
            </ul>
        </div>
    <br>
    </form>
</template>