<template name="speciesList">
    <h3>Species</h3>
    {{#if speciesHome}}
        {{> speciesDisplay}}
    {{/if}}

    {{#if viewPage}}
        {{> view}}
    {{/if}}
</template>

<template name="speciesDisplay">
    <button class="btn addSpecies">Add New Species</button>
    <br>
    {{#if displayMessage}}
    <div id="message">{{displayMessage}}</div>
    {{/if}}
    <ul>
        {{#each displaySpecies}}
        <li>
            <label for="species">Species</label>
            <br>
            <h5>{{this.species}}</h5>
            <br>
            <label for="genus">Genus</label>
            <br>
            <h5>{{this.genus}}</h5>
            <br>
            <label for="family">Family</label>
            <br>
            <h5>{{this.family}}</h5>
            <br>
            <label for="order">Order</label>
            <br>
            <h5>{{this.order}}</h5>
            <br>
            <label for="phylum">Phylum</label>
            <br>
            <h5>{{this.phylum}}</h5>
            <br>
            <label for="class">Class</label>
            <br>
            <h5>{{this.class}}</h5>
            <br>
            <label for="kingdom">Kingdom</label>
            <br>
            <h5>{{this.kingdom}}</h5>
            <br>
            <label for="domain">Domain</label>
            <br>
            <h5>{{this.domain}}</h5>
            <br>
            <button class="btn view">View</button>
            <button class="btn delete">X</button>
        </li>
        {{/each}}
    </ul>
</template>

<template name="view">
    <div>{{status}}</div>
    <h3>{{speciesValue.species}}</h3>
    <p>{{speciesValue.genus}} || {{speciesValue.family}} || {{speciesValue.class}} || {{speciesValue.order}} ||
        {{speciesValue.phylum}} || {{speciesValue.kingdom}} || {{speciesValue.domain}}</p>
    {{#each imageDisplay}}
        <img id="images" src="{{this.link}}" width="100" height="100">
    {{/each}}
    <br>
    <div id="map" style="width: 600px; height: 300px;"></div>
    <br>
    <label for="extinct">Locations:</label>
    {{#each locationDisplay}}
        <p>{{this}}</p>
    {{/each}}
    <br>
    <label for="extinct">Date Range:</label>
    <br>
    {{#each timeDisplay}}
        <label for="time">Time Period</label>
        <p>{{this.time}}</p>
        <label for="time">Era</label>
        <p>{{this.era}}</p>
        <label for="time">Eon</label>
        <p>{{this.eon}}</p>
    {{/each}}
    <br>
    <label for="extinct">Extinct:</label>
    <p>{{speciesValue.extinct}}</p>
    <br>
    <label for="description">Description:</label>
    <br>
    <p>{{speciesValue.description}}</p>
    <br>
    <button class="btn update">Update</button>
    <button class="btn return">Return</button>
</template>

<template name="updateModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update {{speciesValue.species}}</h4>
                </div>
                <div class="modal-body">
                    <label for="speciesName">Species:</label>
                    <br>
                    <textarea name="speciesName" id="speciesName" rows="1" cols="30">{{obj.species}}</textarea>
                    <br>
                    <label for="extinct">Extinct:</label>
                    <p>{{obj.extinct}}</p>
                    <label for="images">Image(s):</label>
                    <br>
                    {{#each imageDisplay}}
                        <img id="images" src="{{this.link}}" width="50" height="50">
                        <button class="btn deleteImg">X</button>
                        <br>
                    {{/each}}
                    <label for="imageUpload">Species Image Upload:</label>
                    <br>
                    <input type="file" name="imageUpload" id="imageUpload" accept="jpg,png" multiple="multiple">
                    <br>
                    <br>
                    <label for="location">Location(s):</label>
                    <br>
                    {{#each locationDisplay}}
                        <p>{{this}}</p>
                        <button class="btn deleteLoc">X</button>
                    {{/each}}
                    <br>
                    <label for="location">Add Location(s):</label>
                    <br>
                    <select id="country" name="country">
                        {{#each countryDrop}}
                            <option id="{{this.CountryName}}" value="{{this.CountryName}}">{{this.CountryName}}</option>
                        {{/each}}
                    </select>
                    <select id="region" name="region">
                        <option id="N/A" value="N/A">N/A</option>
                        {{#each stateDrop}}
                            <option id="{{this.StateName}}" value="{{this.StateName}}">{{this.StateName}}</option>
                        {{/each}}
                    </select>
                    <select id="city" name="city">
                        <option id="city" value="N/A">N/A</option>
                        {{#each cityDrop}}
                            <option id="{{this}}" value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                    <br>
                    <button type="button" class="btn addLocation">Add</button>
                    <br>
                    <label for="time">Date Range:</label>
                    <br>
                    {{#each timeDisplay}}
                        <label for="time">Time Period</label>
                        <p>{{this.time}}</p>
                        <label for="time">Era</label>
                        <p>{{this.era}}</p>
                        <label for="time">Eon</label>
                        <p>{{this.eon}}</p>
                        <br>
                        <button class="btn deleteTime">X</button>
                        <br>
                    {{/each}}
                    <br>
                    <label for="timePeriod">Add Time Period(s):</label>
                    <br>
                    <select id="eon" name="eon">
                        {{#each eonDrop}}
                            <option id="{{this.eon}}" value="{{this.eon}}">{{this.eon}}</option>
                        {{/each}}
                    </select>
                    <select id="era" name="era">
                        <option id="N/A" value="N/A">N/A</option>
                        {{#each eraDrop}}
                            <option id="{{this.era}}" value="{{this.era}}">{{this.era}}</option>
                        {{/each}}
                    </select>
                    <select id="timePeriod" name="timePeriod">
                        <option id="N/A" value="N/A">N/A</option>
                        {{#each timeDrop}}
                            <option id="{{this.time_period}}" value="{{this.time_period}}">{{this.time_period}}</option>
                        {{/each}}
                    </select>
                    <br>
                    <button type="button" class="btn addTime">Add</button>
                    <br>
                    <label for="description">Description:</label>
                    <br>
                    <textarea name="description" id="description" rows="4" cols="50">{{obj.description}}</textarea>
                    <br>
                </div>
                <div class="modal-footer">
                    <button class="btn update" data-dismiss="modal">Update</button>
                    <button class="btn remove" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>